#title{
  justify-content: center;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 10px;
}
table {
  width: 100%;

}

th.mat-sort-header-sorted {
  color: black;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

#edit-btn {
  cursor: pointer;
  margin-right: 10px;
}

#delete-btn {
  cursor: pointer;
  margin-left: 10px;
}