<div class="modal-overlay" (click)="onOverlayClick($event)">
  <div class="modal-content" (click)="onContentClick($event)">
    <h2>Create Country:</h2>
    <!--
  <div class="form-group">
    <label for="countryId">Country Id:</label><br>
    <input type="text" id="countryId" class="form-control" placeholder="Enter a country ID" [(ngModel)]="countryId" (keydown.enter)="addCountry()">
  </div> -->
    <div class="form-group">
      <label for="cityName">City Name:</label><br>
      <input type="text" id="cityName" class="form-control" placeholder="Enter a city name" [(ngModel)]="cityName" (keydown.enter)="addCity()">
    </div>
    <div class="form-group">
      <label for="countryName">Country ID:</label><br>
      <input type="number" id="coutryId" class="form-control" placeholder="Enter a country ID" [(ngModel)]="countryId" (keydown.enter)="addCity()">
    </div>
    <button class="custom-button" (click)="close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="addCity()" [ngClass]="{'button-disabled': isButtonDisabled}" [disabled]="isButtonDisabled">Add New City</button>
    <div style="margin-top: 10px;"></div>
  </div>
</div>
