/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/

/* TITULO*/

.title-container {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

/* #PROFILE-CONTAINER */

/* Primer contenedor visible antes de darle al boton "Update". */
#profile-container {
  height: 100%;
  width: 350px;
  background: white;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
  /**/
  color: #E2F6CA;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

  /* Todos los elementos "div" de #profile-container. */
  #profile-container div {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
  }

  /* Todos los elementos "label" de #profile-container. */
  #profile-container label {
    font-family: Rubik;
    color: black;
  }

  /* Todos los elementos "button" de #profile-container. */
  #profile-container button {
    margin: 5px;
    background-color: white;
    font-family: Rubik;
    /**/
    padding: 10px 20px;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
  }

    /* Hover de los botones de #profile-container. */
    #profile-container button:hover {
      background-color: #f3f6f4;
      box-shadow: 3px 3px 10px #999999, -3px -3px 10px #999999;
    }



/* #EDIT-CONTAINER */

/* Segundo contenedor visible despues de darle al boton "Update" de #profile-container. */
#edit-container {
  height: 100%;
  width: 350px;
  background: white;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
  text-align: center;
  color: #E2F6CA;
}

  /* Titulo de #edit-container. */
  #edit-container h2 {
    text-align: center;
    font-family: Calibri;
    color: black;
  }

  /* Todos los elementos "div" de #edit-container. */
  #edit-container div {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
  }

  /* Todos los elementos "label" de #edit-container. */
  #edit-container label {
    font-family: Rubik;
    color: black;
  }

  /* Todos los elementos "button" de #edit-container. */
  #edit-container button {
    font-family: Rubik;
    margin: 5px;
    /**/
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
  }

    /* Hover de los botones de #edit-container. */
    #edit-container button:hover {
      background-color: #f3f6f4;
      box-shadow: 3px 3px 10px #999999, -3px -3px 10px #999999;
    }

label {
  color: #ffffff;
  font-family: Rubik;
}
