/** {
  border: 1px solid black;
}*/

#profile-container {
    height: 100vh;
    width: 100vh;
    background: linear-gradient(to bottom, #c5dff8, #4a55a2);
  }

    #profile-container h1 {
      text-align: center;
    }

    #profile-container div {
      margin: auto;
      width: 80%;
      padding: 10px;
      text-align: center;
    }

  #edit-container {
    height: 100vh;
    width: 100vh;
    background: linear-gradient(to bottom, #c5dff8, #4a55a2);
  }

  #edit-container h1{
    text-align: center;
  }

  #edit-container div{
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
  }