.register-container {
  align-items: center;
  margin-top: 0px; /* Ajusta el valor del margen superior según tus necesidades */
  margin-bottom: 0px; /* Establece el margen inferior en cero */
  height: 100%; /* Establece la altura del contenedor en 100% */
  background-color: rgba(82, 97, 107, 0.8);
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

  .register-container .form-group {
    margin-bottom: 10px;
    color: #E2F6CA;
  }

  .register-container h2 {
    color: #FFFFFF;
    font-family: Calibri;
  }

  .register-container button {
    margin: 5px;
    background-color: #4A55A2;
    border-color: #7895CB;
    font-family: Rubik;
  }

    .register-container button:hover {
      border-color: #C5DFF8;
    }

label {
  color: #ffffff;
  font-family: Rubik;
}

.button-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
