/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/

/* .REGISTER-CONTAINER */

/* Contenedor principal. */
.register-container {
  height: 100%; /* Establece la altura del contenedor en 100% */
  width: 250px;
  /**/
  align-items: center;
  margin-bottom: 0px; /* Establece el margen inferior en cero */
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  color: #E2F6CA;
  margin-top: 10px;
  border-radius: 10px;
  background: rgba(82, 97, 107, 0.8);
  box-shadow: 5px 5px 10px #1c2b34, -5px -5px 10px #6eabd0;
}

/* Titutlo de .register-container. */
.register-container h2 {
  color: #FFFFFF;
  font-family: Calibri;
}

/* Todos los .form-group de .register-container, que dentro tienen un elemento "label" y otro "input". */
.register-container .form-group {
  margin-bottom: 10px;
  color: #E2F6CA;
}

/* Todos los elementos "label" del archivo html predeterminado. */
label {
  color: #ffffff;
  font-family: Rubik;
}

/* Todos los elementos "button" de .register-container. */
.register-container button {
  margin: 5px;
  background-color: #4A55A2;
  border-color: #7895CB;
  font-family: Rubik;
  /**/
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover de los botones de .register-container. */
  .register-container button:hover {
    background-color: #0b5ed7;
  }

/* Hace que el boton este desactivado. */
.button-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
