/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/

/* Titutlo*/
h2 {
  color: black;
  font-family: Calibri;
  text-align: center;
}

/* .REGISTER-CONTAINER */

/* Contenedor principal. */
.register-container {
  height: 100%; /* Establece la altura del contenedor en 100% */
  width: 250px;
  /**/
  align-items: center;
  margin-bottom: 0px; /* Establece el margen inferior en cero */
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  color: #E2F6CA;
  margin-top: 10px;
  background: white;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
}

  /* Todos los .form-group de .register-container, que dentro tienen un elemento "label" y otro "input". */
  .register-container .form-group {
    margin-bottom: 10px;
    color: #E2F6CA;
  }

/* Todos los elementos "label" del archivo html predeterminado. */
label {
  color: black;
  font-family: Rubik;
}

input {
  background-color: #f3f6f4;
}

/* Todos los elementos "button" de .register-container. */
.register-container button {
  margin: 5px;
  background-color: white;
  font-family: Rubik;
  /**/
  padding: 10px 20px;
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
}

  /* Hover de los botones de .register-container. */
  .register-container button:hover {
    background-color: #f3f6f4;
    box-shadow: 3px 3px 10px #999999, -3px -3px 10px #999999;
  }

/* Hace que el boton este desactivado. */
.button-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error-message {
  color: #16537e;
}
