/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/


/* Componentes .ENTRADA */

/* Aplica estos ajustes a todos los elementos #entrada. */
#entrada * {
  padding: 30px;
  margin: 10px;
}

/* Cada una de las opciones del menu. */
#entrada {
  background-color: #C5DFF8;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 100px;
  background: #C5DFF8;
  font-family: Rubik;
  box-shadow: 5px 5px 0px #8a9cae; /*-5px -5px 0px #ffffff;*/
  border-radius: 30px;
}

  /* Hover para cada #entrada*/
  #entrada:hover {
    border: 2px solid black;
    box-shadow: none;
  }

/* Cada uno de los elementos que contiene cada #entrada. */
.entrada2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 600px;
}
