#entrada {
  background-color: rgba(82, 97, 107, 0.8);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 100px;
}
  
  #entrada * {
    padding: 10px;  
    margin: 10px;  
  }

  .entrada2 {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
  }
