#title{
  justify-content: center;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 10px;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

#edit-button {
  width: 30px; /* Ajustamos el ancho de la imagen */
  height: 30px; /* Ajustamos la altura de la imagen */
  margin-left: 30px; /* Espaciado a la derecha */
  cursor: pointer;
}

#delete-button {
  width: 30px; /* Ajustamos el ancho de la imagen */
  height: 30px; /* Ajustamos la altura de la imagen */
  margin-left: 15px; /* Espaciado a la derecha */
  cursor: pointer;
}