<div id="entrada">
    <p id="reserve">ReserveID: {{ entradaReserves.reserveId }} <br>
        Reserve Date: {{ entradaReserves.date }}
        
        <img id="edit-button" src="https://cdn.icon-icons.com/icons2/1339/PNG/512/editdocumentbutton_87517.png" 
        routerLink="/reserveid{{ entradaReserves.reserveId }}">

        <img id="delete-button" src="https://i.pinimg.com/originals/09/90/f8/0990f82b768e363f0dec55de307fdf4c.png">

    </p>
    

    <!--
    <p>Country: {{ entradaReserves.country}}</p>
    <p>City: {{ entradaReserves.city }}</p>
    <p>Office: {{ entradaReserves.office }}</p>
    <p>MeetingRoom: {{ entradaReserves.meetingRoom }}</p>
    <p>StartTime: {{ entradaReserves.startTime }}</p>
    <p>EndTime: {{ entradaReserves.endTime }}</p>
    <p>Date: {{ entradaReserves.date }}</p>
    -->
</div>