/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/


/* Componentes .ENTRADA */

/* Aplica estos ajustes a todos los elementos #entrada. */
#entrada * {
  padding: 30px;
  margin: 10px;
}

/* Cada una de las opciones del menu. */
#entrada {
  background-color: white;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 500px;
  height: 100px;
  font-family: Rubik;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
}

  /* Hover para cada #entrada*/
  #entrada:hover {
    background-color: #f3f6f4;
    box-shadow: 3px 3px 10px #999999, -3px -3px 10px #999999;
  }

/* Cada uno de los elementos que contiene cada #entrada. */
.entrada2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 600px;
}
