/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~node_modules/ngx-toastr/toastr.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* TOAST */
.custom-toast {
  /* Tus estilos personalizados aquí */
  top: 12px;
  margin: 0 auto;
  left: 50%;
  background-color: blue;
}
