/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/


/* BODY */

/* El cuepo de todo el esqueleto de la pagina proveniente del archivo html correspondiente. */
body {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 600px;
  margin-top: 60px;
  color: black;
  background-color: white;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
}

/* Titulo del body. */
#listado h3 {
  padding: 0px;
  text-align: center;
  font-size: 75px;
  height: 100px;
  margin: 0px;
  margin-top: -170px;
  font-family: Calibri;
}

/* El listado donde se encuentran las 3 opciones de body. */
#listado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}
