<div class="title-container">
  <h2 id="tableLabel"
      class="center-title">
    Profile
  </h2>
</div>
<div *ngIf="showProfile">

  <div id="profile-container">

    <div>
      <label class="profile-label">Username:</label>
      <br>
      <label>{{ newUserName }}</label>
    </div>

    <div>
      <label class="profile-label">Email:</label>
      <br>
      <label>{{ newEmail }}</label>
    </div>

    <div class="button-container">
      <button (click)="goBack()"> Back </button>
      <button (click)="editProfileWindow()">Update</button>
    </div>
  </div>

</div>

<div *ngIf="showEditProfile">

  <div id="edit-container">

    <form role="form">

      <div>
        <label>Username:</label>

        <input type="text"
               name="newUserName"
               class="form-control"
               [(ngModel)]="newUserName">
      </div>

      <div>
        <label>Email:</label>

        <input type="text"
               name="newEmail"
               class="form-control"
               [(ngModel)]="newEmail">
      </div>

      <div>
        <label>Actual Password:</label>

        <input type="password"
               name="currentPasswordHash"
               class="form-control"
               placeholder="Actual password"
               [(ngModel)]="currentPasswordHash">
      </div>

      <div>
        <label>New Password:</label>

        <input type="password"
               name="newPasswordHash"
               class="form-control"
               placeholder="Old password"
               [(ngModel)]="newPasswordHash">
      </div>

      <div class="button-container">

        <button (click)="profileWindow()"> Back </button>

        <button (click)="saveProfile()">Save</button>

      </div>

    </form>

  </div>

</div>
