/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/

/*.TITLE-CONTAINER*/
h2{
    text-align: center;
}

/*.HOME-CONTAINER*/

/*Contenedor para los desplegables y el boton de clear selection*/
.home-container {
  font-family: Arial, sans-serif;
  color: black;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background: white;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
  height: 60%;
  width: 830px;
}

/*Titulo de .home-container*/
.meeting-rooms-container h3 {
  font-size: 24px;
  font-family: Calibri;
  text-align: center;
  margin: 5px 0;
}

/*Botones*/
button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  margin-top: 25px;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
}

button:hover {
  color: black;
  background-color: #f3f6f4;
  box-shadow: 3px 3px 10px #999999, -3px -3px 10px #999999;
}

/*.MEETING-ROOMS-CONTAINER*/
/*Contenedor que aparece debajo de .home-container con las salas de la oficina seleccionada.*/
.meeting-rooms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

/*Contenedor de cada sala de .meeting-rooms-container*/
.meeting-room-container {
  display: flex;
  flex-wrap: wrap;
  width: 200px; /* Ancho del cuadrado */
  height: 150px; /* Altura del cuadrado */
  border: 1px solid #ccc; /* Borde del cuadrado */
  padding: 10px; /* Espacio interno del cuadrado */
  margin: 10px; /* Margen entre cuadrados */

  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
}
