
<div class="container">
  <div class="home-container" style="width: 630px; display: flex; flex-direction: column;">
    <div class="title-container">

      <h2 id="tableLabel" class="center-title">New reservation</h2>
    </div>

    <div style="display: flex; flex-direction: row; align-items: center;">
      <div class="title-container" style="display: flex; flex-direction: column; margin-right: 20px;">
        <label for="country-names">Country:</label>
        <select name="country-names" id="country-names" [(ngModel)]="selectedCountryId" (ngModelChange)="getCitiesByCountryId()">
          <option value=""></option>
          <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
        </select>
      </div>

      <div class="title-container" style="display: flex; flex-direction: column; margin-right: 20px;">
        <label for="city-names">City:</label>
        <select name="city-names" id="city-names" [(ngModel)]="selectedCityId" (ngModelChange)="getOfficesByCityId()">
          <option value=""></option>
          <option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</option>
        </select>
      </div>

      <div class="title-container" style="display: flex; flex-direction: column;">
        <label for="office-names">Office:</label>
        <select name="office-names" id="office-names" [(ngModel)]="selectedOfficeId" (ngModelChange)="getMeetingRoomsByOfficeId()">
          <option value=""></option>
          <option *ngFor="let office of offices" [value]="office.officeId">{{ office.officeName }}</option>
        </select>
      </div>
    </div>

    <div class="form-group" style="display: flex; justify-content: center; margin-top: 10px;">
      <button class="btn btn-primary" style="margin: 5px;" (click)="clearSelection()">Clear Selection</button>
    </div>
  </div>

  <div class="meeting-rooms-container">
    <div *ngFor="let room of filteredMeetingRooms" class="meeting-room-container"
         [ngClass]="{'available': room.available, 'unavailable': !room.available, 'selected': room.selected}"
         (click)="toggleSelection(room)">
      <h3>{{ room.meetingRoomName }}</h3>
      <button class="btn-reserve" (click)="openModal(room)">Reserve</button>
    </div>
  </div>
</div>











