/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/


/*.HOME-CONTAINER*/

/*Contenedor para los desplegables y el boton de clear selection*/
.home-container {
  font-family: Arial, sans-serif;
  color: #E2F6CA;
  align-items: center;
  margin-top: 10px;
  height: 60%;
  width: 830px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  background: rgba(82, 97, 107, 0.8);
  box-shadow: 5px 5px 10px #1c2b34, -5px -5px 10px #6eabd0;
}

/*Titulo de .home-container*/
.meeting-rooms-container h3 {
  font-size: 24px;
  text-align: center;
  margin: 5px 0;
}

/*Boton clear selection de .home-container*/
.clear-selection button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/*.MEETING-ROOMS-CONTAINER*/

/*Contenedor que aparece debajo de .home-container con las salas de la oficina seleccionada.*/
.meeting-rooms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

/*Contenedor de cada sala de .meeting-rooms-container*/
.meeting-room-container {
  display: flex;
  flex-wrap: wrap;
  width: 200px; /* Ancho del cuadrado */
  height: 150px; /* Altura del cuadrado */
  border: 1px solid #ccc; /* Borde del cuadrado */
  padding: 10px; /* Espacio interno del cuadrado */
  margin: 10px; /* Margen entre cuadrados */

  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center; /* Centrar el contenido verticalmente */
  border-radius: 10px;
  background: #a8c8dc;
  box-shadow: 5px 5px 10px #1c2b34, -5px -5px 10px #6eabd0;
}







