/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/

/* .TITLE-CONTAINER */

/* Contenedor de los dos titulos (titulo y subtitulo). */
.title-container {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

  /* Titulo de .title-container. */
  .title-container h1 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 56px;
    font-family: Calibri;
  }

  /* Subtitulo de .title-container. */
  .title-container h2 {
    margin-top: 0;
    font-family: Calibri;
  }


/* .HOME-CONTAINER*/

/* Contenedor debajo de .title-container. */
.home-container {
  align-items: center;
  margin-top: 0px; /* Ajusta el valor del margen superior según tus necesidades */
  margin-bottom: 0px; /* Establece el margen inferior en cero */
  height: 100%; /* Establece la altura del contenedor en 100% */
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
}

/* Todos los componentes "label" del archivo html predefinido. */
label {
  color: black;
  font-family: Rubik;
}

.home-container input {
  background-color: #f3f6f4;
}

/* Todos los componentes "button" de .home-container. */
.home-container button {
  margin: 5px;
  font-family: Rubik;
  padding: 10px 20px;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
  border: none;
}

  /* Hover para los botones de .home-container. */
  .home-container button:hover {
    background-color: #f3f6f4;
    box-shadow: 3px 3px 10px #999999, -3px -3px 10px #999999;
  }

#username {
  background-color: #ebebeb;
}

#password {
  background-color: #ebebeb;
}



