/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/


/* BODY */

/* El cuepo de todo el esqueleto de la pagina proveniente del archivo html correspondiente. */
body {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 400px;
  margin-top: 50px;
  color: black;
  background-color: white;
  box-shadow: 1px 1px 10px #999999, -1px -1px 10px #999999;
  align-items: center;
  margin-bottom: 0px; /* Establece el margen inferior en cero */
  padding: 20px;
  margin: 0 auto;
}

/* El listado donde se encuentran las 3 opciones de body. */
#listado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#titulo {
  position: absolute;
  margin-top: -475px;
  font-size: 75px;
  height: 90px;
  font-family: Calibri;
}
