/*
    Para hacer referencia a una cosa de un archivo html, si es "class", se le pone un "." delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es "id", se le pone un "#" delante de su nombre.
    Para hacer referencia a una cosa de un archivo html, si es una etiqueta predeterminada, directamente se escribe su nombre.
*/


/* BODY */

/* El cuepo de todo el esqueleto de la pagina proveniente del archivo html correspondiente. */
body {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 500px;
  margin-top: 50px;
  background-color: rgba(82, 97, 107, 0.8);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #1c2b34, -5px -5px 10px #6eabd0;
}

/* Titulo del body. */
#listado h3 {
  padding: 0px;
  text-align: center;
  font-size: 75px;
  height: 90px;
  margin: 10px;
  margin-top: -200px;
  font-family: Calibri;
}

/* El listado donde se encuentran las 3 opciones de body. */
#listado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
